/*
- [ ] UI/UX considerations (how are we going to use this)

nice contrasting color pallet
a form that doenst look like its from a circa 2001 webpage


advanced content
state changing styling
*/

/*
	FLEXBOX CONTAINER
	guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.container {
	display: flex;
}

/*
	TABLE STYLING 
*/
table {
	width: 400px;
	margin-left: 30px;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

/*
	FORM STYLING 
	TODO: validation checking styling 
*/
form.form {
}

div.form {
}

label, input {
    margin-bottom: 10px;
    width: 125px;
}

label {
	display: inline-block;
    padding-right: 10px;
    width: 80px;

}

button.button {
	margin-right: 20px;
}